<%= link_to 'Go Back', 'javascript:history.back()', class: 'btn btn-primary' %>

<% if @service %>
  <h1><%= @service.name %></h1>
  <p>Description: <%= @service.description %></p>
  <p>Duration: <%= @service.duration %> minutes</p>
  <p>Price: <%= number_to_currency(@service.price) %></p>

  <%= link_to "Edit Service", edit_service_path(@service), class: "btn btn-secondary mr-2" %>

  <%= form_with(model: @service, url: service_path(@service), method: :delete, data: { confirm: "Are you sure?" }) do |form| %>
    <%= form.submit "Delete Service", class: "btn btn-danger" %>
  <% end %>

  <%= link_to "Book Now", new_booking_path(service_id: @service.id), class: "btn btn-primary" %>
<% else %>
  <p>Service not found</p>
<% end %>
