<div class="container mt-4">
  <%= link_to 'Go Back', 'javascript:history.back()', class: 'btn btn-primary mb-3' %>

  <div class="row">
    <% if @service %>
      <div class="col-md-4">
        <div class="card mb-4">
          <!-- Placeholder image with adjusted size -->
          <img src="https://via.placeholder.com/150" class="card-img-top" alt="Placeholder Image" width="150" height="350">
          <div class="card-body">
            <h5 class="card-title"><%= @service.name %></h5>
            <p class="card-text">Duration: <%= @service.duration %> minutes</p>
            <p class="card-text">Price: <%= number_to_currency(@service.price) %></p>
          </div>
          <div class="card-footer">
            <div class="btn-group" role="group" aria-label="Service Actions">
              <%= link_to "Edit Service", edit_service_path(@service), class: "btn btn-secondary btn-sm mr-2" %>
              <%= form_with(model: @service, url: service_path(@service), method: :delete, data: { confirm: "Are you sure?" }) do |form| %>
                <%= form.submit "Delete Service", class: "btn btn-danger btn-sm mr-2" %>
              <% end %>
              <%= link_to "Book Now", new_booking_path(service_id: @service.id), class: "btn btn-primary btn-sm" %>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <div class="col-md-12">
        <div class="alert alert-warning" role="alert">
          Service not found
        </div>
      </div>
    <% end %>
  </div>
</div>
