 <%= link_to 'Go Back', 'javascript:history.back()', class: 'btn btn-primary' %>
<% if @service %>
  <h1><%= @service.name %></h1>
  <p>Description: <%= @service.description %></p>
  <p>Duration: <%= @service.duration %> minutes</p>
  <p>Price: <%= number_to_currency(@service.price) %></p>
<% else %>
  <p>Service not found</p>
<% end %>
