<div class="container">
  <h1 class="my-4 text-center">Dashboard</h1>

  <div class="table-responsive">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">User</th>
          <th scope="col">Service</th>
          <th scope="col">Date</th>
          <th scope="col">Status</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @bookings.each do |booking| %>
          <tr>
            <td><%= booking.user.user_name %></td>
            <td><%= booking.service.name %></td>
            <td><%= booking.booking_date %></td>
            <td class="
              <% case booking.booking_status
                when 'accepted'
                  print 'status-accepted'
                when 'rejected'
                  print 'status-rejected'
                else
                  print 'status-pending'
                end
              %>">
              <%= booking.booking_status || "Pending" %>
            </td>
            <td>
              <div class="btn-group" role="group">
                <%= form_tag(update_status_booking_path(booking), method: :put) do %>
                  <%= hidden_field_tag :status, 'accepted' %>
                  <%= submit_tag 'Accept', class: 'btn btn-info btn-sm mr-2' %>
                <% end %>

                <%= form_tag(update_status_booking_path(booking), method: :put) do %>
                  <%= hidden_field_tag :status, 'rejected' %>
                  <%= submit_tag 'Reject', class: 'btn btn-light btn-sm mr-2' %>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
