<!-- bookings/dashboard.html.erb -->
<div class="container-fluid">
  <h1 class="mt-5 mb-4 text-center">Dashboard</h1>
  <div class="row">
    <div class="col">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead class="thead-light">
            <tr>
              <th>User</th>
              <th>Service</th>
              <th>Date</th>
              <th>Status</th>
              <th style="width: 200px;">Actions</th>
              <!-- Adjust width as needed -->
            </tr>
          </thead>
          <tbody>
            <% @bookings.each do |booking| %>
              <tr>
                <td><%= booking.user.user_name %></td>
                <td><%= booking.service.name %></td>
                <td><%= booking.booking_date %></td>
                <td><%= booking.booking_status || "Pending" %></td>
                <td>
                  <div class="d-flex">
                    <%= form_tag(update_status_booking_path(booking), method: :put) do %>
                      <%= hidden_field_tag :status, 'accepted' %>
                      <%= submit_tag 'Accept', class: 'btn btn-info' %>
                    <% end %>
                    <%= form_tag(update_status_booking_path(booking), method: :put) do %>
                      <%= hidden_field_tag :status, 'rejected' %>
                      <%= submit_tag 'Reject', class: 'btn btn-light' %>
                    <% end %>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
