<!-- bookings/dashboard.html.erb -->

<div class="container-fluid">
  <h1 class="mt-5 mb-4 text-center">Dashboard</h1>
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead class="thead-light">
        <tr>
          <th>User</th>
          <th>Service</th>
          <th>Date</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @bookings.each do |booking| %>
          <tr>
            <td><%= booking.user.user_name %></td>
            <td><%= booking.service.name %></td>
            <td><%= booking.booking_date %></td>
            <td><%= booking.booking_status || "Pending" %></td> <!-- Display booking status or "Pending" if status is nil -->
            <td>
              <div class="btn-group" role="group">
                <%= form_tag approve_booking_path(booking), method: :patch do %>
                  <%= submit_tag 'Approve', class: 'btn btn-primary' %>
                <% end %>
                <%= form_tag decline_booking_path(booking), method: :patch do %>
                  <%= submit_tag 'Decline', class: 'btn btn-danger' %>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
