<h1>Dashboard</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Service</th>
      <th>Date</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.user.user_name %></td>
        <td><%= booking.service.name %></td>
        <td><%= booking.booking_date %></td>
        <td><%= booking.booking_status %></td>
        <td>
          <%= link_to "Approve", approve_booking_path(booking), method: :patch %>
          <%= link_to "Decline", decline_booking_path(booking), method: :patch %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
