<div class="container-fluid">
  <h1 class="mt-5 mb-4">Dashboard</h1>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>User</th>
        <th>Service</th>
        <th>Date</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @bookings.each do |booking| %>
        <tr>
          <td><%= booking.user.user_name %></td>
          <td><%= booking.service.name %></td>
          <td><%= booking.booking_date %></td>
          <td><%= booking.booking_status %></td>
         <td>
  <%= form_tag approve_booking_path(booking), method: :patch do %>
    <%= submit_tag 'Approve', class: 'btn btn-primary' %>
  <% end %>
  <%= form_tag decline_booking_path(booking), method: :patch do %>
    <%= submit_tag 'Decline', class: 'btn btn-danger' %>
  <% end %>
</td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>
