<div class="card bg-dark text-white" style="position: relative;">
  <%= image_tag("bgimg/bgimg.png", class: "card-img", style: "height: 40rem;") %>
  <div class="card-img-overlay d-flex flex-column justify-content-center" style="color:black;">
    <div class="blur-background">
      <h1 class="card-title">Card title</h1>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text">Last updated 3 mins ago</p>
    </div>
  </div>
</div>
<div class="container super2">
  <br>
  <h2 style="text-align: center;">Services</h2>
  <br>
  <section class="row justify-content-flex-start">
    <% @services.each do |service| %>
      <div class="col-lg-4 col-md-6 mb-4"> <!-- Adjusted column size for different screen sizes -->
        <div class="card h-100"> <!-- Added h-100 class to ensure each card has a consistent height -->
          <!-- Image -->
          <img src="https://via.placeholder.com/150" class="card-img-top" alt="Placeholder Image" width="150" height="350">
          <div class="card-body">
            <!-- Service Information -->
            <h5 class="card-title"><%= link_to service.name, service %></h5>
            <p class="card-text">Duration: <%= service.duration %> minutes</p>
            <p class="card-text"><%= truncate(service.description, length: 20) %></p>
            <p class="card-text">Price: <%= number_to_currency(service.price) %></p>
            <!-- Button to View Service Details -->
            <%= link_to 'View Details', service, class: 'btn btn-primary' %>

          </div>
        </div>
      </div>
    <% end %>
  </section>
  <br>
  <h2 style="text-align: center;"><%= link_to 'All services', services_path %></h2>
  <br>
</div>
<br>
